<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="LOCAL"/>
  <connectionStrings>
    <!--DEV-LOCAL-->
    <add name="LOCAL" providerName="System.Data.SqlClient" connectionString="Server=VIJAYGWIN7\SQLEXPRESS;Initial Catalog=PMU_Test;UId=sa;pwd=mindfire;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="false" />
    <services>
      <service name="PMU.PMUServices.PMUServiceLibrary.PMUService">
         <host>
          <baseAddresses>
            <add baseAddress = "http://localhost/PMUServiceHost.svc/" />
          </baseAddresses>
        </host> 
        <endpoint address="" behaviorConfiguration="EndPointBehaviour"
          binding="webHttpBinding" contract="PMU.PMUServices.PMUService.Contracts.IPMUService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="jsonWebHttp"
             type="PMU.PMUServices.PMUService.Contracts.JsonErrorWebHttpBehaviorElement, PMUService"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1">
          <!-- UsernameToken over Transport Security -->
          <security mode="TransportWithMessageCredential" >
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
